/* banner - start */
#banner{
    height: 640px;
    background: url(../imgs/banner.png) no-repeat;
    background-size:100%;
    overflow: hidden;
    text-align: center;
}
#banner h2{
    font-size: 54px;
    color:#ffffff; 
    margin-top: 193px;
    font-weight: 300;
}
#banner button{
    font-size: 24px;
    color:#ffffff;
    background: #F93F2B;
    width: 260px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    border: nones;
    margin-top: 36px;
    outline: none;
}
#banner button:hover{
    background: #df3a28;
    cursor: pointer;/* 选中变成小手状*/
}
/* banner - end */

/* main - start */
main.wrapper{
    height: 469px;
    border:1px solid #ffffff;
    margin-top:-80px; 
    background: #ffffff;
}

.info-item{
    margin:40px 55px;
    width: 360px;
    float: left;
    margin-right: 0;
}
.info-item a {
    font-size: 16px;
    color: #666;
}
.info-item  .info-img{
    width: 360px;
    height: 180px;
    background: url(../imgs/bg1.png) no-repeat;
    background-size: 100%;
    overflow:hidden;
}
.info-item  .img-b{ 
    background-image: url(../imgs/bg2.png); 
    background-size: 100%;
}
.info-item .info-img p{
    font-size: 33px;
    color: #fff;
    margin-top: 30px;
    margin-left: 40px;
}
.info-item .info-img p.desc{
    margin-top: 16px;
}
.info-item span{
    color: #ea5608;
}
.info-item span.blue{
    color: #0b89bb;
}
.info-item ul{
    margin:20px 30px; 
}
.info-item ul li{
    height: 42px;
    line-height: 42px; 
}
.info-item div.info-more{ 
    width: 300px;
    height: 62px;
    border-top: 1px solid rgba(142, 141, 141, 0.612) ;
    /* 块元素水平居中 */
    margin: 0 auto;
    line-height: 62px;
    text-align: center;/* 文字居中*/
    color: #ce4c06;
}
/* main - end */
